Customer Support Python System.json
{
  "name": "Customer Support Python System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        432,
        64
      ],
      "id": "7894b097-eb2d-4e73-bfe9-c09204edec1c",
      "name": "POST /query",
      "webhookId": "c1a9bdab-2675-4cad-b233-5acd183c052e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anomalies",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        432,
        400
      ],
      "id": "c6310f09-f9eb-44b4-8697-773b1d5ea085",
      "name": "GET /anomalies",
      "webhookId": "1d6e9cea-d4dc-40f1-839e-e90d67232c4d"
    },
    {
      "parameters": {
        "path": "health",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        432,
        592
      ],
      "id": "1150f91e-5f35-42c8-8054-81f63a7c6114",
      "name": "GET /health",
      "webhookId": "148b26af-2822-4178-bf76-cec08894337f"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "return [{\n  \"json\": {\n    \"status\": \"ok\",\n    \"message\": \"N8N AI Agent service (Python-powered) is running\"\n  }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        592
      ],
      "id": "fc0df3b8-6d37-482f-9317-1a147c873e97",
      "name": "Health Status JSON"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "tickets = []\n\ntry:\n    for item in _input:\n        if hasattr(item, 'json'):\n            tickets.append(item.json)\n        elif isinstance(item, dict) and 'json' in item:\n            tickets.append(item['json'])\n        else:\n            tickets.append(item)\nexcept Exception:\n    pass\n\nif not tickets:\n    try:\n        sheet_data = _(\"Get row(s) in sheet\").all()\n        for item in sheet_data:\n            if hasattr(item, 'json'):\n                tickets.append(item.json)\n            elif isinstance(item, dict) and 'json' in item:\n                tickets.append(item['json'])\n            else:\n                tickets.append(item)\n    except Exception:\n        pass\n\nanomalies = []\nfor t in tickets:\n    status = t.get('status', 'Open')\n    priority = t.get('priority', 'Low')\n    \n    if status != 'Resolved' and priority in ['High', 'Critical']:\n        anomalies.append({\n            'ticket_id': t.get('ticket_id'),\n            'reason': f\"Unresolved {priority} priority ticket\",\n            **t\n        })\n            \n    res_time = t.get('resolution_time_hrs')\n    if res_time is not None and res_time != '':\n        try:\n            res_val = float(res_time)\n            if res_val > 24:\n                anomalies.append({\n                    'ticket_id': t.get('ticket_id'),\n                    'reason': f\"Abnormally long resolution time: {res_val} hrs (expected avg ~5 hrs)\",\n                    **t\n                })\n        except ValueError:\n            pass\n\nreturn [{'json': {'anomalies': anomalies}}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        400
      ],
      "id": "4eb3e5ca-955c-411a-9e1b-f60b7331b88e",
      "name": "Detect Anomalies (Python)"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "tickets = [\n  {\n    \"ticket_id\": \"TKT-001\",\n    \"created_at\": \"2024-02-05 11:14\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 7.8,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-002\",\n    \"created_at\": \"2024-03-05 17:01\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 13.7,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-003\",\n    \"created_at\": \"2024-02-13 12:09\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 2.1,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-004\",\n    \"created_at\": \"2024-03-09 09:59\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": 10.7,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-005\",\n    \"created_at\": \"2024-03-25 11:49\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-006\",\n    \"created_at\": \"2024-03-22 13:10\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": 34.1,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-007\",\n    \"created_at\": \"2024-01-21 15:24\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-008\",\n    \"created_at\": \"2024-01-08 11:52\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": 22.1,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-009\",\n    \"created_at\": \"2024-02-20 18:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": 3.9,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-010\",\n    \"created_at\": \"2024-01-18 16:31\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-011\",\n    \"created_at\": \"2024-03-28 14:38\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 15.1,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-012\",\n    \"created_at\": \"2024-03-28 16:48\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": 2.7,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-013\",\n    \"created_at\": \"2024-03-05 09:55\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-014\",\n    \"created_at\": \"2024-01-21 16:49\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 4.5,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-015\",\n    \"created_at\": \"2024-03-13 09:05\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": 37.7,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-016\",\n    \"created_at\": \"2024-03-08 17:27\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-017\",\n    \"created_at\": \"2024-03-26 18:23\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": 3.4,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-018\",\n    \"created_at\": \"2024-01-10 18:03\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": 26.6,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-019\",\n    \"created_at\": \"2024-03-14 17:30\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-020\",\n    \"created_at\": \"2024-02-25 13:27\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-021\",\n    \"created_at\": \"2024-02-13 09:15\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 8.1,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-022\",\n    \"created_at\": \"2024-03-11 09:03\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 5.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-023\",\n    \"created_at\": \"2024-03-03 15:13\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": 76.1,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-024\",\n    \"created_at\": \"2024-03-12 18:45\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": 14.7,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-025\",\n    \"created_at\": \"2024-03-02 16:58\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-026\",\n    \"created_at\": \"2024-01-09 18:55\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-027\",\n    \"created_at\": \"2024-03-20 09:26\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.0,\n    \"resolution_time_hrs\": 6.5,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-028\",\n    \"created_at\": \"2024-03-26 18:19\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-029\",\n    \"created_at\": \"2024-03-13 09:04\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 21.4,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-030\",\n    \"created_at\": \"2024-03-10 12:39\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 45.0,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-031\",\n    \"created_at\": \"2024-01-14 16:09\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 34.2,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-032\",\n    \"created_at\": \"2024-01-07 09:40\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 9.8,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-033\",\n    \"created_at\": \"2024-02-24 16:00\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-034\",\n    \"created_at\": \"2024-02-17 17:35\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 45.1,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-035\",\n    \"created_at\": \"2024-02-01 18:06\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-036\",\n    \"created_at\": \"2024-01-31 10:51\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 4.7,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-037\",\n    \"created_at\": \"2024-03-30 09:24\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 24.3,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-038\",\n    \"created_at\": \"2024-01-25 14:21\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-039\",\n    \"created_at\": \"2024-02-21 18:53\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": 7.7,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-040\",\n    \"created_at\": \"2024-02-25 13:46\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-041\",\n    \"created_at\": \"2024-01-25 12:02\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 8.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-042\",\n    \"created_at\": \"2024-03-26 13:39\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": 13.2,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-043\",\n    \"created_at\": \"2024-03-11 10:12\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": 2.9,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-044\",\n    \"created_at\": \"2024-02-08 12:13\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-045\",\n    \"created_at\": \"2024-03-27 11:32\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-046\",\n    \"created_at\": \"2024-03-06 18:40\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-047\",\n    \"created_at\": \"2024-01-26 10:01\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 3.6,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-048\",\n    \"created_at\": \"2024-03-04 14:15\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": 9.5,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-049\",\n    \"created_at\": \"2024-03-30 16:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-050\",\n    \"created_at\": \"2024-02-29 18:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-051\",\n    \"created_at\": \"2024-03-05 14:53\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 6.0,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-052\",\n    \"created_at\": \"2024-01-31 12:28\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": 21.6,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-053\",\n    \"created_at\": \"2024-01-20 11:04\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 6.6,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-054\",\n    \"created_at\": \"2024-01-01 13:19\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-055\",\n    \"created_at\": \"2024-03-10 17:57\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": 5.3,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-056\",\n    \"created_at\": \"2024-02-29 10:39\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": 5.2,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-057\",\n    \"created_at\": \"2024-02-03 14:20\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.4,\n    \"resolution_time_hrs\": 16.2,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-058\",\n    \"created_at\": \"2024-03-01 08:47\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-059\",\n    \"created_at\": \"2024-03-24 08:48\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 59.0,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-060\",\n    \"created_at\": \"2024-02-29 12:49\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-061\",\n    \"created_at\": \"2024-01-14 17:01\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-062\",\n    \"created_at\": \"2024-01-26 09:37\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 2.2,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-063\",\n    \"created_at\": \"2024-02-14 16:27\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 10.3,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-064\",\n    \"created_at\": \"2024-03-22 15:45\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-065\",\n    \"created_at\": \"2024-03-09 15:29\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 3.7,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-066\",\n    \"created_at\": \"2024-02-29 17:39\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 12.0,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-067\",\n    \"created_at\": \"2024-03-17 12:35\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 21.9,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-068\",\n    \"created_at\": \"2024-03-03 15:50\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": 8.7,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-069\",\n    \"created_at\": \"2024-02-24 16:21\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": 4.7,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-070\",\n    \"created_at\": \"2024-03-29 10:12\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 18.7,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-071\",\n    \"created_at\": \"2024-02-16 10:19\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": 51.9,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-072\",\n    \"created_at\": \"2024-03-03 09:55\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.0,\n    \"resolution_time_hrs\": 3.0,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-073\",\n    \"created_at\": \"2024-02-21 15:04\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 7.2,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-074\",\n    \"created_at\": \"2024-02-23 17:38\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 11.7,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-075\",\n    \"created_at\": \"2024-01-08 17:47\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 16.5,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-076\",\n    \"created_at\": \"2024-01-01 14:28\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": 35.1,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-077\",\n    \"created_at\": \"2024-02-03 18:37\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": 3.5,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-078\",\n    \"created_at\": \"2024-01-22 12:38\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-079\",\n    \"created_at\": \"2024-02-08 14:17\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 21.6,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-080\",\n    \"created_at\": \"2024-03-27 17:37\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 5.0,\n    \"resolution_time_hrs\": 5.8,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-081\",\n    \"created_at\": \"2024-02-05 10:37\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 4.8,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-082\",\n    \"created_at\": \"2024-03-29 15:18\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-083\",\n    \"created_at\": \"2024-02-02 13:07\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-084\",\n    \"created_at\": \"2024-02-29 14:03\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-085\",\n    \"created_at\": \"2024-01-07 11:17\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": 12.7,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-086\",\n    \"created_at\": \"2024-03-11 08:35\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-087\",\n    \"created_at\": \"2024-03-23 10:31\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-088\",\n    \"created_at\": \"2024-02-01 15:35\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-089\",\n    \"created_at\": \"2024-01-09 12:49\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-090\",\n    \"created_at\": \"2024-02-08 17:37\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": 19.2,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-091\",\n    \"created_at\": \"2024-01-25 11:36\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-092\",\n    \"created_at\": \"2024-02-18 14:42\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": 84.2,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-093\",\n    \"created_at\": \"2024-02-28 08:46\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 24.7,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-094\",\n    \"created_at\": \"2024-03-24 09:54\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-095\",\n    \"created_at\": \"2024-03-03 16:02\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": 23.9,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-096\",\n    \"created_at\": \"2024-01-13 15:10\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 1.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-097\",\n    \"created_at\": \"2024-02-22 17:43\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": 31.3,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-098\",\n    \"created_at\": \"2024-02-02 15:16\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-099\",\n    \"created_at\": \"2024-01-10 15:22\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-100\",\n    \"created_at\": \"2024-01-26 14:54\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": 4.3,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-101\",\n    \"created_at\": \"2024-01-02 17:55\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-102\",\n    \"created_at\": \"2024-01-30 17:51\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 9.3,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-103\",\n    \"created_at\": \"2024-03-21 18:02\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 9.8,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-104\",\n    \"created_at\": \"2024-01-26 10:50\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 8.0,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-105\",\n    \"created_at\": \"2024-02-13 09:29\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-106\",\n    \"created_at\": \"2024-02-20 08:16\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": 7.8,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-107\",\n    \"created_at\": \"2024-03-01 08:39\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-108\",\n    \"created_at\": \"2024-03-30 12:41\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": 119.7,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-109\",\n    \"created_at\": \"2024-02-28 13:42\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": 36.0,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-110\",\n    \"created_at\": \"2024-02-05 08:44\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 10.0,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-111\",\n    \"created_at\": \"2024-03-23 13:03\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-112\",\n    \"created_at\": \"2024-03-23 18:38\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.4,\n    \"resolution_time_hrs\": 9.7,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-113\",\n    \"created_at\": \"2024-01-30 13:49\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 47.3,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-114\",\n    \"created_at\": \"2024-01-04 10:00\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 11.7,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-115\",\n    \"created_at\": \"2024-01-09 15:28\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 45.6,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-116\",\n    \"created_at\": \"2024-01-04 08:30\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 11.8,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-117\",\n    \"created_at\": \"2024-01-17 12:39\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-118\",\n    \"created_at\": \"2024-02-28 16:38\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-119\",\n    \"created_at\": \"2024-01-30 14:21\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-120\",\n    \"created_at\": \"2024-02-02 13:09\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 4.1,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-121\",\n    \"created_at\": \"2024-03-16 16:35\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": 22.7,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-122\",\n    \"created_at\": \"2024-02-15 09:36\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 4.4,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-123\",\n    \"created_at\": \"2024-03-14 11:51\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-124\",\n    \"created_at\": \"2024-03-29 12:01\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-125\",\n    \"created_at\": \"2024-01-19 17:42\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-126\",\n    \"created_at\": \"2024-01-28 14:26\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": 9.5,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-127\",\n    \"created_at\": \"2024-03-20 08:43\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": 23.4,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-128\",\n    \"created_at\": \"2024-02-06 18:43\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": 76.5,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-129\",\n    \"created_at\": \"2024-01-28 10:48\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 11.5,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-130\",\n    \"created_at\": \"2024-03-26 13:04\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 114.3,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-131\",\n    \"created_at\": \"2024-03-22 14:18\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-132\",\n    \"created_at\": \"2024-03-29 13:05\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 13.5,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-133\",\n    \"created_at\": \"2024-02-12 10:04\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 19.1,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-134\",\n    \"created_at\": \"2024-02-02 11:11\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-135\",\n    \"created_at\": \"2024-03-21 15:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.8,\n    \"resolution_time_hrs\": 3.6,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-136\",\n    \"created_at\": \"2024-02-26 09:30\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-137\",\n    \"created_at\": \"2024-02-09 15:28\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-138\",\n    \"created_at\": \"2024-01-12 17:38\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 9.1,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-139\",\n    \"created_at\": \"2024-03-05 10:03\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-140\",\n    \"created_at\": \"2024-03-23 10:02\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-141\",\n    \"created_at\": \"2024-02-06 14:26\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": 9.4,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-142\",\n    \"created_at\": \"2024-02-02 18:58\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 5.1,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-143\",\n    \"created_at\": \"2024-01-11 12:35\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": 17.5,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-144\",\n    \"created_at\": \"2024-03-06 13:01\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-145\",\n    \"created_at\": \"2024-01-18 10:04\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 40.7,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-146\",\n    \"created_at\": \"2024-03-20 10:38\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": 15.7,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-147\",\n    \"created_at\": \"2024-03-27 11:28\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-148\",\n    \"created_at\": \"2024-02-09 15:57\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-149\",\n    \"created_at\": \"2024-02-18 16:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-150\",\n    \"created_at\": \"2024-01-07 18:30\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 10.4,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-151\",\n    \"created_at\": \"2024-03-06 10:53\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-152\",\n    \"created_at\": \"2024-02-23 08:25\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 1.7,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-153\",\n    \"created_at\": \"2024-01-19 10:02\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 18.7,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-154\",\n    \"created_at\": \"2024-01-28 10:35\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": 14.5,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-155\",\n    \"created_at\": \"2024-03-20 15:04\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 15.9,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-156\",\n    \"created_at\": \"2024-03-19 13:15\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 23.4,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-157\",\n    \"created_at\": \"2024-03-05 16:01\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 10.2,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-158\",\n    \"created_at\": \"2024-03-25 18:06\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 87.3,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-159\",\n    \"created_at\": \"2024-03-30 15:40\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": 12.1,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-160\",\n    \"created_at\": \"2024-02-10 12:32\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": 9.3,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-161\",\n    \"created_at\": \"2024-02-12 12:07\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 11.5,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-162\",\n    \"created_at\": \"2024-02-17 16:17\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 10.0,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-163\",\n    \"created_at\": \"2024-03-25 12:19\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": 19.5,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-164\",\n    \"created_at\": \"2024-02-05 18:50\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-165\",\n    \"created_at\": \"2024-03-27 10:01\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-166\",\n    \"created_at\": \"2024-01-31 18:23\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 33.9,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-167\",\n    \"created_at\": \"2024-03-14 10:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-168\",\n    \"created_at\": \"2024-01-24 15:33\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 35.0,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-169\",\n    \"created_at\": \"2024-03-03 11:07\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 2.9,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-170\",\n    \"created_at\": \"2024-01-09 16:34\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-171\",\n    \"created_at\": \"2024-01-16 11:50\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 14.6,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-172\",\n    \"created_at\": \"2024-01-12 09:19\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 5.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-173\",\n    \"created_at\": \"2024-01-10 10:20\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": 2.4,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-174\",\n    \"created_at\": \"2024-01-17 14:32\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 5.6,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-175\",\n    \"created_at\": \"2024-03-07 12:54\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-176\",\n    \"created_at\": \"2024-02-08 17:34\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": 10.8,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-177\",\n    \"created_at\": \"2024-03-13 08:52\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-178\",\n    \"created_at\": \"2024-03-14 14:39\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-179\",\n    \"created_at\": \"2024-02-08 15:15\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": 5.5,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-180\",\n    \"created_at\": \"2024-01-19 13:55\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-181\",\n    \"created_at\": \"2024-02-17 16:35\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": 14.9,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-182\",\n    \"created_at\": \"2024-02-23 11:55\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-183\",\n    \"created_at\": \"2024-03-04 16:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 5.3,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-184\",\n    \"created_at\": \"2024-01-07 08:18\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-185\",\n    \"created_at\": \"2024-01-14 14:08\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-186\",\n    \"created_at\": \"2024-03-13 16:12\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 18.8,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-187\",\n    \"created_at\": \"2024-02-20 13:50\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 3.8,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-188\",\n    \"created_at\": \"2024-02-12 15:33\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-189\",\n    \"created_at\": \"2024-02-10 10:25\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 5.1,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-190\",\n    \"created_at\": \"2024-01-03 13:21\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": 21.8,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-191\",\n    \"created_at\": \"2024-03-24 17:36\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 15.8,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-192\",\n    \"created_at\": \"2024-02-01 08:36\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": 2.7,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-193\",\n    \"created_at\": \"2024-03-01 08:45\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 6.3,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-194\",\n    \"created_at\": \"2024-02-13 16:22\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-195\",\n    \"created_at\": \"2024-02-01 12:35\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-196\",\n    \"created_at\": \"2024-03-29 15:20\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-197\",\n    \"created_at\": \"2024-03-27 16:24\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-198\",\n    \"created_at\": \"2024-01-11 13:59\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-199\",\n    \"created_at\": \"2024-02-04 16:44\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-200\",\n    \"created_at\": \"2024-03-08 11:40\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": 8.4,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-201\",\n    \"created_at\": \"2024-01-21 14:41\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": 2.3,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-202\",\n    \"created_at\": \"2024-03-09 08:58\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-203\",\n    \"created_at\": \"2024-01-24 12:56\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.2,\n    \"resolution_time_hrs\": 11.8,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-204\",\n    \"created_at\": \"2024-01-18 16:29\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 12.1,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-205\",\n    \"created_at\": \"2024-02-07 17:43\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-206\",\n    \"created_at\": \"2024-01-12 14:42\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 7.5,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-207\",\n    \"created_at\": \"2024-02-12 12:37\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 3.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-208\",\n    \"created_at\": \"2024-03-28 16:59\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": 45.4,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-209\",\n    \"created_at\": \"2024-03-02 10:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": 5.5,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-210\",\n    \"created_at\": \"2024-03-17 09:33\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 2.2,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-211\",\n    \"created_at\": \"2024-01-22 13:54\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 12.8,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-212\",\n    \"created_at\": \"2024-03-06 14:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": 17.9,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-213\",\n    \"created_at\": \"2024-01-10 08:27\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": 43.3,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-214\",\n    \"created_at\": \"2024-01-24 10:49\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": 47.7,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-215\",\n    \"created_at\": \"2024-03-25 16:08\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 21.3,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-216\",\n    \"created_at\": \"2024-02-08 15:43\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 3.7,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-217\",\n    \"created_at\": \"2024-01-15 08:51\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-218\",\n    \"created_at\": \"2024-01-13 17:02\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-219\",\n    \"created_at\": \"2024-02-21 15:14\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-220\",\n    \"created_at\": \"2024-02-07 11:52\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.0,\n    \"resolution_time_hrs\": 20.0,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-221\",\n    \"created_at\": \"2024-02-22 12:17\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 5.9,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-222\",\n    \"created_at\": \"2024-03-23 18:24\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": 2.6,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-223\",\n    \"created_at\": \"2024-02-08 10:51\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 7.1,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-224\",\n    \"created_at\": \"2024-03-23 09:59\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 12.4,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-225\",\n    \"created_at\": \"2024-01-10 11:51\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 42.3,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-226\",\n    \"created_at\": \"2024-01-16 15:58\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-227\",\n    \"created_at\": \"2024-02-06 14:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": 21.4,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-228\",\n    \"created_at\": \"2024-02-17 13:26\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 1.9,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-229\",\n    \"created_at\": \"2024-01-20 11:21\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-230\",\n    \"created_at\": \"2024-03-28 13:16\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-231\",\n    \"created_at\": \"2024-02-15 10:08\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 47.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-232\",\n    \"created_at\": \"2024-01-10 18:03\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-233\",\n    \"created_at\": \"2024-01-02 11:32\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-234\",\n    \"created_at\": \"2024-01-01 16:35\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": 23.5,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-235\",\n    \"created_at\": \"2024-01-13 16:09\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 15.8,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-236\",\n    \"created_at\": \"2024-02-01 11:19\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 16.3,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-237\",\n    \"created_at\": \"2024-03-01 08:40\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": 16.2,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-238\",\n    \"created_at\": \"2024-01-30 11:57\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": 53.4,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-239\",\n    \"created_at\": \"2024-02-10 08:13\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-240\",\n    \"created_at\": \"2024-03-13 11:36\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": 36.5,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-241\",\n    \"created_at\": \"2024-02-14 08:06\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 7.8,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-242\",\n    \"created_at\": \"2024-02-27 15:14\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 14.9,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-243\",\n    \"created_at\": \"2024-01-11 12:09\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-244\",\n    \"created_at\": \"2024-01-12 08:19\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": 6.1,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-245\",\n    \"created_at\": \"2024-01-04 09:22\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": 10.5,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-246\",\n    \"created_at\": \"2024-03-12 11:36\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": 4.3,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-247\",\n    \"created_at\": \"2024-02-23 12:30\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-248\",\n    \"created_at\": \"2024-02-28 09:08\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.2,\n    \"resolution_time_hrs\": 10.4,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-249\",\n    \"created_at\": \"2024-03-24 17:08\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-250\",\n    \"created_at\": \"2024-02-20 13:18\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": 7.3,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-251\",\n    \"created_at\": \"2024-03-13 11:37\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-252\",\n    \"created_at\": \"2024-01-27 15:51\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 19.5,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-253\",\n    \"created_at\": \"2024-02-02 18:09\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 15.2,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-254\",\n    \"created_at\": \"2024-02-16 16:38\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 33.2,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-255\",\n    \"created_at\": \"2024-03-27 18:25\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 66.6,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-256\",\n    \"created_at\": \"2024-02-29 18:37\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": 55.5,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-257\",\n    \"created_at\": \"2024-01-19 13:19\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.4,\n    \"resolution_time_hrs\": 6.2,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-258\",\n    \"created_at\": \"2024-01-06 09:01\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": 47.3,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-259\",\n    \"created_at\": \"2024-03-12 14:29\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 32.9,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-260\",\n    \"created_at\": \"2024-02-19 08:45\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-261\",\n    \"created_at\": \"2024-03-09 10:23\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 25.5,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-262\",\n    \"created_at\": \"2024-02-20 17:07\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": 16.8,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-263\",\n    \"created_at\": \"2024-01-16 11:19\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 22.4,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-264\",\n    \"created_at\": \"2024-03-22 16:44\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 16.7,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-265\",\n    \"created_at\": \"2024-02-15 08:31\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 32.7,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-266\",\n    \"created_at\": \"2024-02-26 15:10\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-267\",\n    \"created_at\": \"2024-01-29 16:18\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": 25.8,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-268\",\n    \"created_at\": \"2024-03-10 13:34\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.8,\n    \"resolution_time_hrs\": 22.7,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-269\",\n    \"created_at\": \"2024-01-05 15:16\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 2.3,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-270\",\n    \"created_at\": \"2024-02-14 17:40\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": 6.6,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-271\",\n    \"created_at\": \"2024-03-09 10:20\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 26.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-272\",\n    \"created_at\": \"2024-02-22 08:17\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-273\",\n    \"created_at\": \"2024-02-01 18:25\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-274\",\n    \"created_at\": \"2024-03-22 09:25\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.8,\n    \"resolution_time_hrs\": 12.0,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-275\",\n    \"created_at\": \"2024-01-12 15:40\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-276\",\n    \"created_at\": \"2024-01-28 15:17\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 3.6,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-277\",\n    \"created_at\": \"2024-01-06 09:40\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-278\",\n    \"created_at\": \"2024-02-24 11:44\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 21.3,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-279\",\n    \"created_at\": \"2024-03-26 18:10\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": 14.3,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-280\",\n    \"created_at\": \"2024-01-10 10:37\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 72.7,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-281\",\n    \"created_at\": \"2024-01-10 11:24\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 42.8,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-282\",\n    \"created_at\": \"2024-01-19 09:33\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-283\",\n    \"created_at\": \"2024-03-21 10:58\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 10.9,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-284\",\n    \"created_at\": \"2024-02-14 14:20\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-285\",\n    \"created_at\": \"2024-03-18 12:49\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-286\",\n    \"created_at\": \"2024-03-06 11:47\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 23.0,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-287\",\n    \"created_at\": \"2024-03-17 09:33\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-288\",\n    \"created_at\": \"2024-03-13 14:23\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-289\",\n    \"created_at\": \"2024-01-02 12:13\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-290\",\n    \"created_at\": \"2024-03-05 14:27\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": 10.7,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-291\",\n    \"created_at\": \"2024-01-20 16:20\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-292\",\n    \"created_at\": \"2024-01-31 08:15\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 1.6,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-293\",\n    \"created_at\": \"2024-01-18 08:10\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 35.7,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-294\",\n    \"created_at\": \"2024-02-04 09:49\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": 3.9,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-295\",\n    \"created_at\": \"2024-02-16 08:31\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": 21.7,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-296\",\n    \"created_at\": \"2024-01-01 08:54\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 2.7,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-297\",\n    \"created_at\": \"2024-03-24 14:14\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-298\",\n    \"created_at\": \"2024-03-14 13:07\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": 6.7,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-299\",\n    \"created_at\": \"2024-02-06 12:20\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 7.2,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-300\",\n    \"created_at\": \"2024-03-04 11:46\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": 77.5,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-301\",\n    \"created_at\": \"2024-01-02 13:00\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-302\",\n    \"created_at\": \"2024-01-31 14:31\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": 5.9,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-303\",\n    \"created_at\": \"2024-02-28 09:37\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-304\",\n    \"created_at\": \"2024-01-08 14:42\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 19.6,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-305\",\n    \"created_at\": \"2024-01-30 09:12\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": 5.6,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-306\",\n    \"created_at\": \"2024-01-27 15:19\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": 17.1,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-307\",\n    \"created_at\": \"2024-02-11 10:05\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 8.4,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-308\",\n    \"created_at\": \"2024-02-27 16:47\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 1.3,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-309\",\n    \"created_at\": \"2024-02-21 13:43\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 44.4,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-310\",\n    \"created_at\": \"2024-02-26 10:05\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-311\",\n    \"created_at\": \"2024-02-25 14:31\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 5.5,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-312\",\n    \"created_at\": \"2024-03-20 17:15\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 6.7,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-313\",\n    \"created_at\": \"2024-03-08 11:40\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-314\",\n    \"created_at\": \"2024-03-03 13:58\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": 9.0,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-315\",\n    \"created_at\": \"2024-03-01 16:22\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 5.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-316\",\n    \"created_at\": \"2024-02-04 16:52\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-317\",\n    \"created_at\": \"2024-02-19 13:59\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": 8.7,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-318\",\n    \"created_at\": \"2024-03-13 17:09\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-319\",\n    \"created_at\": \"2024-03-03 08:05\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 2.0,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-320\",\n    \"created_at\": \"2024-01-23 13:03\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-321\",\n    \"created_at\": \"2024-02-16 09:23\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 4.3,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-322\",\n    \"created_at\": \"2024-03-22 15:41\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-323\",\n    \"created_at\": \"2024-01-23 14:19\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": 11.4,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-324\",\n    \"created_at\": \"2024-03-18 13:58\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 10.2,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-325\",\n    \"created_at\": \"2024-01-22 18:56\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-326\",\n    \"created_at\": \"2024-01-27 11:44\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-327\",\n    \"created_at\": \"2024-02-23 10:56\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": 4.2,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-328\",\n    \"created_at\": \"2024-01-05 12:01\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": 21.5,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-329\",\n    \"created_at\": \"2024-01-12 13:38\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-330\",\n    \"created_at\": \"2024-02-25 10:03\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-331\",\n    \"created_at\": \"2024-03-10 12:42\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 14.1,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-332\",\n    \"created_at\": \"2024-01-12 12:52\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 13.1,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-333\",\n    \"created_at\": \"2024-02-09 14:30\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": 5.3,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-334\",\n    \"created_at\": \"2024-01-06 12:28\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-335\",\n    \"created_at\": \"2024-03-30 18:06\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-336\",\n    \"created_at\": \"2024-01-08 14:52\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 24.9,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-337\",\n    \"created_at\": \"2024-01-05 16:36\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 9.3,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-338\",\n    \"created_at\": \"2024-01-25 10:02\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-339\",\n    \"created_at\": \"2024-03-17 12:20\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.6,\n    \"resolution_time_hrs\": 21.5,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-340\",\n    \"created_at\": \"2024-01-02 17:37\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 14.5,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-341\",\n    \"created_at\": \"2024-01-13 12:55\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-342\",\n    \"created_at\": \"2024-03-14 17:30\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": 8.5,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-343\",\n    \"created_at\": \"2024-01-07 15:58\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": 4.3,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-344\",\n    \"created_at\": \"2024-01-30 10:19\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-345\",\n    \"created_at\": \"2024-03-23 09:12\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-346\",\n    \"created_at\": \"2024-01-08 16:50\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-347\",\n    \"created_at\": \"2024-03-08 17:01\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-348\",\n    \"created_at\": \"2024-01-07 13:45\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-349\",\n    \"created_at\": \"2024-03-28 08:15\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": 3.1,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-350\",\n    \"created_at\": \"2024-02-03 09:18\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.1,\n    \"resolution_time_hrs\": 11.6,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-351\",\n    \"created_at\": \"2024-03-24 14:32\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-352\",\n    \"created_at\": \"2024-03-23 10:38\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-353\",\n    \"created_at\": \"2024-03-23 12:27\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 2.2,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-354\",\n    \"created_at\": \"2024-03-06 18:53\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 34.1,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-355\",\n    \"created_at\": \"2024-02-05 12:41\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 13.4,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-356\",\n    \"created_at\": \"2024-02-10 18:08\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": 22.0,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-357\",\n    \"created_at\": \"2024-03-14 11:21\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-358\",\n    \"created_at\": \"2024-02-08 10:53\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 4.8,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-359\",\n    \"created_at\": \"2024-03-24 09:14\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-360\",\n    \"created_at\": \"2024-03-15 12:29\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-361\",\n    \"created_at\": \"2024-01-10 15:56\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-362\",\n    \"created_at\": \"2024-01-07 10:08\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-363\",\n    \"created_at\": \"2024-01-24 09:31\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 2.1,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-364\",\n    \"created_at\": \"2024-03-03 09:08\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 6.3,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-365\",\n    \"created_at\": \"2024-01-02 13:48\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 7.5,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-366\",\n    \"created_at\": \"2024-02-19 16:37\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.0,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-367\",\n    \"created_at\": \"2024-03-07 17:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 23.9,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-368\",\n    \"created_at\": \"2024-02-21 08:14\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 3.7,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-369\",\n    \"created_at\": \"2024-01-05 14:56\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 119.6,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-370\",\n    \"created_at\": \"2024-02-23 15:24\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 8.6,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-371\",\n    \"created_at\": \"2024-03-25 16:17\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": 2.2,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-372\",\n    \"created_at\": \"2024-01-14 15:12\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 12.9,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-373\",\n    \"created_at\": \"2024-03-04 11:44\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": 43.9,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-374\",\n    \"created_at\": \"2024-03-06 09:46\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": 5.9,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-375\",\n    \"created_at\": \"2024-01-23 08:54\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": 9.1,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-376\",\n    \"created_at\": \"2024-03-25 18:10\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": 10.7,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-377\",\n    \"created_at\": \"2024-02-21 15:17\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": 43.0,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Double billing issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-378\",\n    \"created_at\": \"2024-01-21 09:26\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": 7.7,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-379\",\n    \"created_at\": \"2024-01-17 15:58\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": 66.8,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-380\",\n    \"created_at\": \"2024-03-07 16:44\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 6.3,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-381\",\n    \"created_at\": \"2024-03-12 17:03\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": 10.4,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-382\",\n    \"created_at\": \"2024-02-12 12:03\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 7.2,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-383\",\n    \"created_at\": \"2024-03-04 15:20\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-384\",\n    \"created_at\": \"2024-01-05 16:35\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-385\",\n    \"created_at\": \"2024-03-24 18:29\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": 12.0,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-386\",\n    \"created_at\": \"2024-02-27 09:06\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.3,\n    \"resolution_time_hrs\": 11.6,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-387\",\n    \"created_at\": \"2024-01-22 15:08\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.8,\n    \"resolution_time_hrs\": 12.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-388\",\n    \"created_at\": \"2024-01-25 13:06\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.4,\n    \"resolution_time_hrs\": 4.7,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-389\",\n    \"created_at\": \"2024-03-05 10:31\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 20.5,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-390\",\n    \"created_at\": \"2024-01-17 09:24\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-391\",\n    \"created_at\": \"2024-03-29 11:17\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-392\",\n    \"created_at\": \"2024-03-18 16:19\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 28.4,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-393\",\n    \"created_at\": \"2024-03-28 13:58\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-394\",\n    \"created_at\": \"2024-03-22 13:45\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.9,\n    \"resolution_time_hrs\": 22.7,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-395\",\n    \"created_at\": \"2024-03-07 09:01\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-396\",\n    \"created_at\": \"2024-01-21 12:43\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": 3.2,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-397\",\n    \"created_at\": \"2024-03-27 16:55\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.8,\n    \"resolution_time_hrs\": 38.5,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-398\",\n    \"created_at\": \"2024-02-18 14:26\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": 66.1,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-399\",\n    \"created_at\": \"2024-03-23 13:48\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-400\",\n    \"created_at\": \"2024-03-28 09:11\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": 68.1,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-401\",\n    \"created_at\": \"2024-01-01 13:29\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 7.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-402\",\n    \"created_at\": \"2024-03-11 13:04\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": 1.7,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-403\",\n    \"created_at\": \"2024-01-12 13:14\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": 22.9,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-404\",\n    \"created_at\": \"2024-03-24 08:07\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.9,\n    \"resolution_time_hrs\": 11.1,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-405\",\n    \"created_at\": \"2024-02-18 09:24\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 10.0,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-406\",\n    \"created_at\": \"2024-03-24 11:20\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.6,\n    \"resolution_time_hrs\": 38.0,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-407\",\n    \"created_at\": \"2024-01-28 18:27\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-408\",\n    \"created_at\": \"2024-01-10 18:09\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.4,\n    \"resolution_time_hrs\": 1.6,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-409\",\n    \"created_at\": \"2024-02-03 14:24\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.2,\n    \"resolution_time_hrs\": 96.5,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-410\",\n    \"created_at\": \"2024-03-30 09:22\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-411\",\n    \"created_at\": \"2024-02-26 14:25\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": 36.9,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-412\",\n    \"created_at\": \"2024-03-27 18:23\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 4.2,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-413\",\n    \"created_at\": \"2024-02-14 11:26\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.3,\n    \"resolution_time_hrs\": 31.1,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-414\",\n    \"created_at\": \"2024-03-13 08:54\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.4,\n    \"resolution_time_hrs\": 1.7,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-415\",\n    \"created_at\": \"2024-03-26 18:15\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 12.7,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-416\",\n    \"created_at\": \"2024-03-13 17:23\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 19.3,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-417\",\n    \"created_at\": \"2024-01-18 18:46\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 4.4,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-418\",\n    \"created_at\": \"2024-02-05 10:57\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-419\",\n    \"created_at\": \"2024-01-03 16:40\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": 13.4,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-420\",\n    \"created_at\": \"2024-03-10 15:41\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 9.1,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-421\",\n    \"created_at\": \"2024-02-20 13:32\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-422\",\n    \"created_at\": \"2024-01-21 10:36\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-423\",\n    \"created_at\": \"2024-03-03 11:04\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.0,\n    \"resolution_time_hrs\": 43.9,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Webhook not triggering\"\n  },\n  {\n    \"ticket_id\": \"TKT-424\",\n    \"created_at\": \"2024-01-06 18:20\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.6,\n    \"resolution_time_hrs\": 10.2,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-425\",\n    \"created_at\": \"2024-03-24 14:23\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-426\",\n    \"created_at\": \"2024-01-29 16:25\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": 5.4,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-427\",\n    \"created_at\": \"2024-01-10 16:41\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 35.6,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-428\",\n    \"created_at\": \"2024-01-15 15:43\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": 5.5,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-429\",\n    \"created_at\": \"2024-01-18 18:32\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": 22.3,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-430\",\n    \"created_at\": \"2024-03-22 08:56\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-431\",\n    \"created_at\": \"2024-03-01 15:10\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 20.0,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-432\",\n    \"created_at\": \"2024-02-13 15:38\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": 1.2,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-433\",\n    \"created_at\": \"2024-01-23 15:57\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.1,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-434\",\n    \"created_at\": \"2024-01-17 17:34\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-435\",\n    \"created_at\": \"2024-01-06 16:27\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 9.7,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-436\",\n    \"created_at\": \"2024-03-02 11:58\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-437\",\n    \"created_at\": \"2024-01-01 17:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": 39.4,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-438\",\n    \"created_at\": \"2024-03-15 12:16\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 17.0,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-439\",\n    \"created_at\": \"2024-03-02 10:23\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.9,\n    \"resolution_time_hrs\": 4.8,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-440\",\n    \"created_at\": \"2024-01-30 15:50\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 38.6,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-441\",\n    \"created_at\": \"2024-03-22 08:51\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 3.9,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-442\",\n    \"created_at\": \"2024-02-19 14:39\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-443\",\n    \"created_at\": \"2024-02-26 08:12\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 19.2,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-444\",\n    \"created_at\": \"2024-01-05 13:15\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.2,\n    \"resolution_time_hrs\": 38.3,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-445\",\n    \"created_at\": \"2024-03-07 08:47\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": 20.3,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-446\",\n    \"created_at\": \"2024-02-05 11:38\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.4,\n    \"resolution_time_hrs\": 60.6,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-447\",\n    \"created_at\": \"2024-02-13 09:51\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-448\",\n    \"created_at\": \"2024-02-18 17:30\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 3.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-449\",\n    \"created_at\": \"2024-03-16 08:30\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 6.8,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-450\",\n    \"created_at\": \"2024-03-07 16:00\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.2,\n    \"resolution_time_hrs\": 4.2,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-451\",\n    \"created_at\": \"2024-03-01 13:22\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.5,\n    \"resolution_time_hrs\": 4.3,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-452\",\n    \"created_at\": \"2024-01-31 12:13\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 10.9,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"How to export data to CSV\"\n  },\n  {\n    \"ticket_id\": \"TKT-453\",\n    \"created_at\": \"2024-03-04 17:00\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Request for account deletion\"\n  },\n  {\n    \"ticket_id\": \"TKT-454\",\n    \"created_at\": \"2024-03-14 12:31\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 4.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-455\",\n    \"created_at\": \"2024-03-14 10:03\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 26.1,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-456\",\n    \"created_at\": \"2024-03-30 16:29\",\n    \"category\": \"Technical\",\n    \"priority\": \"Critical\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.5,\n    \"resolution_time_hrs\": 3.7,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Mobile app crash on startup\"\n  },\n  {\n    \"ticket_id\": \"TKT-457\",\n    \"created_at\": \"2024-02-03 11:17\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 22.7,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Error 500 on checkout page\"\n  },\n  {\n    \"ticket_id\": \"TKT-458\",\n    \"created_at\": \"2024-02-05 15:11\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": 2.1,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-459\",\n    \"created_at\": \"2024-02-18 11:09\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.9,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-460\",\n    \"created_at\": \"2024-03-21 16:34\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.7,\n    \"resolution_time_hrs\": 20.9,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 1.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-461\",\n    \"created_at\": \"2024-01-28 12:30\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Need help with onboarding\"\n  },\n  {\n    \"ticket_id\": \"TKT-462\",\n    \"created_at\": \"2024-03-12 12:22\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 15.3,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Database connection timeout\"\n  },\n  {\n    \"ticket_id\": \"TKT-463\",\n    \"created_at\": \"2024-02-06 13:20\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-464\",\n    \"created_at\": \"2024-02-06 15:40\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.4,\n    \"resolution_time_hrs\": 11.3,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-465\",\n    \"created_at\": \"2024-02-13 11:20\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Wrong plan charged\"\n  },\n  {\n    \"ticket_id\": \"TKT-466\",\n    \"created_at\": \"2024-02-16 17:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 100.4,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"API timeout errors in production\"\n  },\n  {\n    \"ticket_id\": \"TKT-467\",\n    \"created_at\": \"2024-01-14 09:04\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 37.7,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 2.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-468\",\n    \"created_at\": \"2024-03-24 14:19\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 9.8,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-469\",\n    \"created_at\": \"2024-02-11 15:29\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 11.4,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-470\",\n    \"created_at\": \"2024-03-13 14:33\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": 6.9,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-471\",\n    \"created_at\": \"2024-02-03 10:19\",\n    \"category\": \"Technical\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.2,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Dashboard not loading\"\n  },\n  {\n    \"ticket_id\": \"TKT-472\",\n    \"created_at\": \"2024-03-09 08:44\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 79.0,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-473\",\n    \"created_at\": \"2024-01-25 14:56\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": 16.2,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-474\",\n    \"created_at\": \"2024-03-21 11:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.1,\n    \"resolution_time_hrs\": 36.7,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"SSL certificate issue\"\n  },\n  {\n    \"ticket_id\": \"TKT-475\",\n    \"created_at\": \"2024-01-24 10:18\",\n    \"category\": \"Billing\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-476\",\n    \"created_at\": \"2024-01-25 13:01\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.4,\n    \"resolution_time_hrs\": 4.3,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-477\",\n    \"created_at\": \"2024-01-12 10:00\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.2,\n    \"resolution_time_hrs\": 25.9,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-478\",\n    \"created_at\": \"2024-01-19 08:17\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": 41.0,\n    \"agent_id\": \"AGT-07\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"System login failure after update\"\n  },\n  {\n    \"ticket_id\": \"TKT-479\",\n    \"created_at\": \"2024-02-01 14:49\",\n    \"category\": \"Billing\",\n    \"priority\": \"Critical\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Subscription not activated after payment\"\n  },\n  {\n    \"ticket_id\": \"TKT-480\",\n    \"created_at\": \"2024-01-13 16:42\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 2.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-481\",\n    \"created_at\": \"2024-01-06 16:33\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": 43.1,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Integration broken after version upgrade\"\n  },\n  {\n    \"ticket_id\": \"TKT-482\",\n    \"created_at\": \"2024-02-25 13:00\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.0,\n    \"resolution_time_hrs\": 14.7,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-483\",\n    \"created_at\": \"2024-02-17 09:15\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.6,\n    \"resolution_time_hrs\": 23.3,\n    \"agent_id\": \"AGT-03\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Request for product documentation\"\n  },\n  {\n    \"ticket_id\": \"TKT-484\",\n    \"created_at\": \"2024-01-20 16:50\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": 19.3,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Payment failed but amount deducted\"\n  },\n  {\n    \"ticket_id\": \"TKT-485\",\n    \"created_at\": \"2024-03-29 14:22\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.8,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-486\",\n    \"created_at\": \"2024-02-07 16:44\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 18.1,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Feature request: dark mode\"\n  },\n  {\n    \"ticket_id\": \"TKT-487\",\n    \"created_at\": \"2024-02-27 12:52\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.8,\n    \"resolution_time_hrs\": 13.1,\n    \"agent_id\": \"AGT-05\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-488\",\n    \"created_at\": \"2024-03-20 11:20\",\n    \"category\": \"General\",\n    \"priority\": \"High\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 0.5,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-489\",\n    \"created_at\": \"2024-03-04 16:09\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.6,\n    \"resolution_time_hrs\": 4.1,\n    \"agent_id\": \"AGT-10\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Incorrect charge on invoice\"\n  },\n  {\n    \"ticket_id\": \"TKT-490\",\n    \"created_at\": \"2024-01-05 11:06\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.1,\n    \"resolution_time_hrs\": 21.1,\n    \"agent_id\": \"AGT-08\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-491\",\n    \"created_at\": \"2024-03-18 09:00\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 3.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Refund not processed\"\n  },\n  {\n    \"ticket_id\": \"TKT-492\",\n    \"created_at\": \"2024-01-08 13:35\",\n    \"category\": \"Technical\",\n    \"priority\": \"High\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.7,\n    \"resolution_time_hrs\": 8.8,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": 5.0,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-493\",\n    \"created_at\": \"2024-01-10 12:04\",\n    \"category\": \"General\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 4.8,\n    \"resolution_time_hrs\": 27.4,\n    \"agent_id\": \"AGT-04\",\n    \"customer_rating\": 3.0,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-494\",\n    \"created_at\": \"2024-01-23 16:47\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 2.2,\n    \"resolution_time_hrs\": 9.9,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"How to add team members\"\n  },\n  {\n    \"ticket_id\": \"TKT-495\",\n    \"created_at\": \"2024-01-24 16:25\",\n    \"category\": \"Billing\",\n    \"priority\": \"Low\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 1.8,\n    \"resolution_time_hrs\": 23.5,\n    \"agent_id\": \"AGT-09\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Invoice not received\"\n  },\n  {\n    \"ticket_id\": \"TKT-496\",\n    \"created_at\": \"2024-02-11 13:26\",\n    \"category\": \"General\",\n    \"priority\": \"Critical\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-11\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Question about usage limits\"\n  },\n  {\n    \"ticket_id\": \"TKT-497\",\n    \"created_at\": \"2024-02-18 16:59\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 1.4,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-12\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Change notification preferences\"\n  },\n  {\n    \"ticket_id\": \"TKT-498\",\n    \"created_at\": \"2024-01-05 12:38\",\n    \"category\": \"Technical\",\n    \"priority\": \"Low\",\n    \"status\": \"Escalated\",\n    \"response_time_hrs\": 2.7,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-01\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Data sync not working\"\n  },\n  {\n    \"ticket_id\": \"TKT-499\",\n    \"created_at\": \"2024-01-29 11:54\",\n    \"category\": \"Billing\",\n    \"priority\": \"Medium\",\n    \"status\": \"Open\",\n    \"response_time_hrs\": 0.3,\n    \"resolution_time_hrs\": None,\n    \"agent_id\": \"AGT-06\",\n    \"customer_rating\": None,\n    \"issue_summary\": \"Unexpected fee on account\"\n  },\n  {\n    \"ticket_id\": \"TKT-500\",\n    \"created_at\": \"2024-03-14 17:09\",\n    \"category\": \"General\",\n    \"priority\": \"Medium\",\n    \"status\": \"Resolved\",\n    \"response_time_hrs\": 0.4,\n    \"resolution_time_hrs\": 10.1,\n    \"agent_id\": \"AGT-02\",\n    \"customer_rating\": 4.0,\n    \"issue_summary\": \"Question about usage limits\"\n  }]\n\ntry:\n    for item in _input:\n        if hasattr(item, 'json'):\n            tickets.append(item.json)\n        elif isinstance(item, dict) and 'json' in item:\n            tickets.append(item['json'])\n        else:\n            tickets.append(item)\nexcept Exception:\n    pass\n\nif not tickets:\n    try:\n        sheet_data = _(\"Get row(s) in query sheet\").all()\n        for item in sheet_data:\n            if hasattr(item, 'json'):\n                tickets.append(item.json)\n            elif isinstance(item, dict) and 'json' in item:\n                tickets.append(item['json'])\n            else:\n                tickets.append(item)\n    except Exception:\n        pass\n\ntry:\n    incoming = _(\"POST /query\").first().json\n    body = incoming.get('body', {})\n    question = body.get('question', '').lower()\nexcept Exception:\n    question = ''\n\ncontext_tickets = []\nsummary_stats = {}\n\ntotal_tickets = len(tickets)\nby_status = {}\nby_priority = {}\nby_category = {}\nrating_sum = 0\nrated_count = 0\n\nfor t in tickets:\n    status = t.get('status', 'Open')\n    priority = t.get('priority', 'Low')\n    category = t.get('category', 'General')\n    by_status[status] = by_status.get(status, 0) + 1\n    by_priority[priority] = by_priority.get(priority, 0) + 1\n    by_category[category] = by_category.get(category, 0) + 1\n    rating = t.get('customer_rating')\n    if rating is not None and rating != '':\n        try:\n            rating_sum += float(rating)\n            rated_count += 1\n        except ValueError:\n            pass\n\navg_rating = round(rating_sum / rated_count, 2) if rated_count > 0 else 0\n\nsummary_stats = {\n    'total_tickets': total_tickets,\n    'by_status': by_status,\n    'by_priority': by_priority,\n    'by_category': by_category,\n    'avg_customer_rating': avg_rating\n}\n\nmatched = []\nfor t in tickets:\n    match = False\n    category = t.get('category', '').lower()\n    priority = t.get('priority', '').lower()\n    status = t.get('status', '').lower()\n    if 'billing' in question and category == 'billing':\n        match = True\n    elif 'technical' in question and category == 'technical':\n        match = True\n    elif 'general' in question and category == 'general':\n        match = True\n    \n    if 'critical' in question and priority == 'critical':\n        match = True\n    elif 'high' in question and priority == 'high':\n        match = True\n    elif 'medium' in question and priority == 'medium':\n        match = True\n    elif 'low' in question and priority == 'low':\n        match = True\n\n    if 'open' in question and status == 'open':\n        match = True\n    elif 'resolved' in question and status == 'resolved':\n        match = True\n    elif 'escalated' in question and status == 'escalated':\n        match = True\n\n    if 'agt-' in question or 'agent' in question:\n        match = True\n\n    if match:\n        matched.append(t)\n\nif matched:\n    context_tickets = matched[:30]\nelse:\n    context_tickets = tickets[:15]\n\nreturn [{\n    'json': {\n        'question': question,\n        'summary_stats': summary_stats,\n        'context_tickets': context_tickets\n    }\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        64
      ],
      "id": "7ad7ec0e-7120-4fc9-b2a7-8490d4f6fff4",
      "name": "Query Context (Python)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=question:{{ $('POST /query').item.json.body.question }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional Customer Support Data Assistant.\n\nDataset Summary:\nTotal Tickets: {{ $json.summary_stats.total_tickets }}\nBy Status: {{ JSON.stringify($json.summary_stats.by_status) }}\nBy Priority: {{ JSON.stringify($json.summary_stats.by_priority) }}\nBy Category: {{ JSON.stringify($json.summary_stats.by_category) }}\nAverage Rating: {{ $json.summary_stats.avg_customer_rating }}\n\nRelevant Tickets Sample: {{ JSON.stringify($json.context_tickets) }}\n\nProvide a direct answer in 2-5 concise lines. No reasoning or explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        64
      ],
      "id": "21431bca-fdf8-4ad8-9c58-2a4eff952813",
      "name": "AI Agent (Python context)"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1184,
        288
      ],
      "id": "7c2e46f5-b209-4724-adf9-19eb25ce561d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "F8BpIsdIiJVXR1Fy",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oFPDFYcFttrulsBrALuVBrHS0jLtQl9wsQzP2RHpqHI",
          "mode": "list",
          "cachedResultName": "support_tickets (2)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFPDFYcFttrulsBrALuVBrHS0jLtQl9wsQzP2RHpqHI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 141611540,
          "mode": "list",
          "cachedResultName": "in",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFPDFYcFttrulsBrALuVBrHS0jLtQl9wsQzP2RHpqHI/edit#gid=141611540"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        64
      ],
      "id": "d5db7dca-51d1-4ad9-8c96-4ce4407112d1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h95eSTnNLAPoBeNe",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=question:{{ $('POST /query').item.json.body.question }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a professional Customer Support Data Assistant.\n\nDataset Summary:\nTotal Tickets: {{ $json.summary_stats.total_tickets }}\nBy Status: {{ JSON.stringify($json.summary_stats.by_status) }}\nBy Priority: {{ JSON.stringify($json.summary_stats.by_priority) }}\nBy Category: {{ JSON.stringify($json.summary_stats.by_category) }}\nAverage Rating: {{ $json.summary_stats.avg_customer_rating }}\n\nRelevant Tickets Sample: {{ JSON.stringify($json.context_tickets) }}\n\nProvide a direct answer in 2-5 concise lines. No reasoning or explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1184,
        496
      ],
      "id": "2a3253ef-9006-40d1-b911-b858d0018113",
      "name": "AI Agent (Python context)2"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-safeguard-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1200,
        752
      ],
      "id": "922b2ef3-6436-477e-a2d5-4ef115b8c293",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "F8BpIsdIiJVXR1Fy",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oFPDFYcFttrulsBrALuVBrHS0jLtQl9wsQzP2RHpqHI",
          "mode": "list",
          "cachedResultName": "support_tickets (2)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFPDFYcFttrulsBrALuVBrHS0jLtQl9wsQzP2RHpqHI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 141611540,
          "mode": "list",
          "cachedResultName": "in",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oFPDFYcFttrulsBrALuVBrHS0jLtQl9wsQzP2RHpqHI/edit#gid=141611540"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        656,
        496
      ],
      "id": "82421849-fa79-4a30-9a76-6c674cc92a9e",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h95eSTnNLAPoBeNe",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {
    "Health Status JSON": [
      {
        "json": {
          "status": "ok",
          "message": "N8N AI Agent service (Python-powered) is running"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Detect Anomalies (Python)": [
      {
        "json": {
          "anomalies": []
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "GET /anomalies": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /query": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /health": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Python context)": {
      "main": [
        []
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Python context)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query Context (Python)": {
      "main": [
        [
          {
            "node": "AI Agent (Python context)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Anomalies (Python)": {
      "main": [
        []
      ]
    },
    "Health Status JSON": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Query Context (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Python context)2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Detect Anomalies (Python)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Health Status JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1aaab4d4-6e72-4c55-9a3d-09951f638efb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94ae7dca0183785bfb35a36a776a0da01e4ff1ac9256a6f955c49de46d473e18"
  },
  "nodeGroups": [],
  "id": "g710epe8Jt84qVcK",
  "tags": []
}